*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.star-container{
    height: 25px;
    overflow: hidden;
    /* display: flex; */
    cursor: pointer;
}
span{
    width: 25px;
}
.star-wrapper{
    min-width: 125px;
    display: flex;
    /* flex-wrap: nowrap; */
    /* cursor: pointer; */
}