@import 'bootstrap/dist/css/bootstrap.min.css';

main{
    width: 100vw;
    height: auto;
    position: relative;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    /* background: #000; */
}

main .navbar{
    background: cyan;
}